<div layout="row" ng-if="true">
    <o2r-choropleth 
        flex="100"
        choro-data="vm.map1"></o2r-choropleth>
    <o2r-choropleth 
        ng-if="false"
        flex-offset="5" 
        flex="100" 
        data="vm.data"
        compare-val="vm.test2" 
        classify="vm.class2" 
        colors="vm.colors2"
        show-label="vm.test2"
        legend-pos="'bottomleft'"></o2r-choropleth>
</div>
<div layout="row" style="margin-top: 10%;" ng-if="true">
    <o2r-proportional-symbol 
        flex-offset="5" 
        flex="100" 
        prop-data="vm.map2"></o2r-proportional-symbol>
</div>
<div layout="row" style="margin-top: 10%;" ng-if="true">
    <o2r-choro-prop 
        flex="100" 
        choro-data="vm.map1" 
        prop-data="vm.map2" ></o2r-choro-prop>
</div>